<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>0529开题汇报</title>
</head>
<body>
<p style="text-align:center;"><b>基于移动终端的web管理系统安全验证机制设计</b></p>
<p style="text-align:center;">2018.05.29&nbsp;&nbsp;</p>
<hr width="40%">
<p style="text-align:center;"><a href="{:url('Login/login')}">进入测试系统</a></p>
<hr width="40%">
<div style="line-height:1.6em;">
<p style="text-indent: 2em;margin:0 10%;">题目或可限缩为“基于微信小程序的心理测评系统安全验证机制设计”。主要工作为将微信小程序（或其他移动终端软件方案）作为web后台端的权限管理解决方案。</p>
<p style="text-indent: 2em;margin:0 10%;">主要场景有：</p>
<p style="text-indent: 2em;margin:0 10%;"><b>一、扫描二维码（小程序码）登录web后台页面。</b>取消登录界面的账号、密码、验证码输入框，增加安全性，防止爬虫。</p>
<p style="text-indent: 2em;margin:0 10%;"><b>二、低权限管理员扫码向高权限管理员鉴权。</b>在web系统中，若低权限管理员操作敏感动作，弹出二维码，扫码后在移动终端中点击确认，安全系统向高权限管理员推送鉴权消息。高权限管理员可在移动终端中允许或拒绝敏感动作。</p>
<p style="text-indent: 2em;margin:0 10%;"><b>三、管理员主动在移动终端中查看安全日志。</b>可以显示登录、修改、导出等各种信息的操作日志。</p>
<p style="text-indent: 2em;margin:0 10%;"><b>四、移动终端主动向管理员推送警告消息。</b>可在微信（或专用app）中主动推送鉴权等消息。</p>
<p style="text-align:center;"><img src="__STATIC__/img/open.png" width="50%"></p>
</div>
<hr width="60%">
<p style="text-align:center">Copyright&copy;2017-2018&nbsp;&nbsp;<b>www.ptczn.cn</b>&nbsp;&nbsp;<a href="http://www.miitbeian.gov.cn" target="_blank">京ICP备18007602号</a></p>
</body>
</html>