<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>nandgate安全验证测试系统</title>
</head>
<body>
<p style="text-align:center;">欢迎您。<a href="{:url('Index/index')}">返回首页</a></p>
<p style="text-align:center"><img src="__STATIC__/qrcode/<?php echo $md5_user;?>.jpg" width="20%"></p>
<!--<img src="__ROOT__/data.jpg" />-->
<p style="text-align:center;">微信扫描二维码进入<b>安全验证系统</b></p>
<div style="text-align:center">Copyright&copy;2017-2018&nbsp;&nbsp;<b>www.ptczn.cn</b>&nbsp;&nbsp;<a href="http://www.miitbeian.gov.cn" target="_blank">京ICP备18007602号</a></div>
<!--<p style="text-align:center;">在系统内点击登录</p>-->
<div id="md5_qr" style="text-align:center;"></div>
<div id="scan_user" style="text-align:center;"></div>
<!--<p style="text-align:center"><a href="https://sscar.ptczn.cn/admin.php">前往管理后台</a></p>-->
</body>
<script src="__STATIC__/js/jquery.min.js"></script>
<script type="text/javascript">
    var md5_qr = "{$md5_user}";
    // var md5_qr = "88f4d6a5b2ac98b700fa06f1b579b61a";
    var jsonstr = '{"md5_qr":"' + md5_qr + '"}';
    var jsonobj = eval ("(" + jsonstr + ")");
    $("#md5_qr").append(jsonstr);
    var ifor = setInterval(look_scan,500);
    function look_scan(){
        $.ajax({
            type: "POST",
            url:"{:url('look_scan')}",
            data: jsonobj,
            dataType: "json",
            success: function(data) {
                var strdata = JSON.stringify(data);
                $("#scan_user").html(strdata);
                var iffind = strdata.indexOf('望问津');
                if(iffind>0){
                    alert("管理员望问津已扫码，可以进入系统");
                    clearInterval(ifor);
                }
            },
            error:function(msg){
                $("#scan_user").append("error");
            }
        });
    }

</script>

</html>